<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.select :name, options_for_select(Ingredient.all.order('name ASC').collect {|x| [x.name, x.name]}.uniq, {}), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :amount %> <br>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :amount_type %>
    <%= f.select :amount_type, options_for_select(Ingredient.all.order('amount_type ASC').collect {|x| [x.amount_type, x.amount_type]}.uniq, {}), include_blank: true  %>
  </div>

  <%= link_to_remove_association "remove ingredient", f %>
</div>
